version: '3.8'

services:
  3x-ui:
    image: ghcr.io/mhsanaei/3x-ui:latest
    container_name: 3x-ui
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - TZ=Europe/Mosco
    volumes:
      - ./data/x-ui.db:/etc/x-ui/x-ui.db
      - ./data/cert:/root/cert
    tty: true
    devices:
      - /dev/net/tun:/dev/net/tun

#  watchtower:
#    image: containrrr/watchtower
#    container_name: watchtower
#    restart: unless-stopped
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#    environment:
#      - WATCHTOWER_CLEANUP=true
#      - WATCHTOWER_POLL_INTERVAL=86400
#      - WATCHTOWER_INCLUDE_STOPPED=true
#    command: 3x-ui
